<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="orders">
            <h2><span>Orders</span> {{ orders.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Order Type</span></dt>
                <dd>
                    <span>{{ orders.orderType }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ orders.description }}</span>
                </dd>
                <dt><span>Size</span></dt>
                <dd>
                    <span>{{ orders.size }}</span>
                </dd>
                <dt><span>Color</span></dt>
                <dd>
                    <span>{{ orders.color }}</span>
                </dd>
                <dt><span>Quantity</span></dt>
                <dd>
                    <span>{{ orders.quantity }}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{ orders.status }}</span>
                </dd>
                <dt><span>Reason</span></dt>
                <dd>
                    <span>{{ orders.reason }}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{ orders.userLogin }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/orders', orders.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
